@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(15,15,25);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100svh;
    text-transform: uppercase;
    text-wrap: nowrap;
}

h1 {
  font-size: clamp(1.875rem, 4.442vw + 0.92rem, 6.25rem);
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}